* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* this is setting the header*/
.header {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: cornflowerblue;
    color: azure;

}

.header h1 {
    font-size: 100px;
    display: inline-block
}

.header li { 
    list-style-type: none;
    color: azure;
    font-size: 30px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px;
    display: inline-block;
}

.header a {
    text-decoration: none;
    color: azure;
}

.profile-picture {
    float: right;
    max-width: 150px;
    border-radius: 40%;
}



.about-me {
    font-size: 20px;
    margin-left: 20%;
    
}

.dog-1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.images {
    display: inline;
    margin-left: 20%;
}

.side {
    margin-left: 20px;
    padding: 20px;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: cornflowerblue;
}

.side h2 {
    margin-top: 15px;
    text-align: center;
}

.side h3 {
    text-align: center;
}

.contact-me {
    font-size: 20px;
}
.contact-me li {
    list-style: none;
    display: inline;
    padding: 3%;
    font-size: 20px;
}

