* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* this is setting the header*/
.header {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: cornflowerblue;
    color: azure;

}

.header h1 {
    font-size: 65px;
    display: inline-block
}

.header li { 
    list-style-type: none;
    color: azure;
    font-size: 30px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px;
    display: inline-block;
}

.header a {
    text-decoration: none;
    color: azure;
}

.profile-picture {
    float: right;
    max-width: 150px;
    max-height: 190px;
    border-radius: 10%;
    
}
/* this is for project images*/
img {
    max-width: 100%;
}

.main-image {
    height: 400px;
    padding: 20px;
    
}

.second-image {
    height: 300px;
    padding: 10px; 
    float: left;
    
}

.third-image {
    padding: 10px;
    height: 300px;
    float: right;

}

.fourth-image {
    padding: 10px;
    height: 300px;
    float: left;
}

.fifth-image {
    padding: 10px;
    height: 350px;
    width: 350px;
    float: right;
}
/* this is for my contact information in the list*/
.list {
    list-style: none;

}

.list li {
    float: left;
    margin: 10px;
} 

@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; 
    }
}